.ann-text {
  padding: 1rem;
  border-radius: 0.5rem;
  transition: box-shadow 0.8s ease;
}

.ann-text .ann-number {
  border-radius: 1rem;
  background: #E78895;
  aspect-ratio: 1/1;
  width: 1.6rem;
  max-width: 1.6rem;
  max-height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  height: fit-content;
  padding: 0.4rem;
}
